{% extends 'base.html' %}

{% block title %}Orders List{% endblock %}

{% block content %}
<h1 class="text-center my-4">Orders List</h1>
<div class="m-4">
    <table class="table table-striped table-bordered">
        <thead class="table-light">
            <tr>
                <th>No.</th>
                <th>Meal</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Total Price</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td>{{ order.meal.name }}</td>
                <td class="text-center">{{ order.quantity }}</td>
                <td class="text-center">{{ order.status }}</td>
                <td class="text-end">${{ order.get_total_price }}</td>
                <td>{{ order.order_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="text-center my-4">
    <a href="{% url 'order_create' %}" class="btn btn-light text-dark btn-lg">Add New Order</a>
</div>
{% endblock %}

