{% extends 'base.html' %}

{% block title %}Page for Edit{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center mt-5">

        <div class="card shadow-lg p-4" style="max-width: 600px; width: 100%;">
            <div class="card-body">
                <h1 class="text-center text-dark mb-4">
                    {% if meal %}Edit Meal{% else %}Add Meal{% endif %}
                </h1>

                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}  

                    
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-warning text-light btn-lg">Save Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


